
<html lang="en">
<head>

<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

<link href="https://codepen.io/GreenSock/pen/7ba936b34824fefdccfe2c6d9f0b740b.css" rel="stylesheet" />

<style>


@media (max-width: 480px) { 
.bg {
position: absolute;
  

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  z-index: -1;

background-size: 100% auto;

  background-position: center;

  background-repeat: no-repeat;

}

.bg.bg {
position: absolute;
  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  z-index: 1;

 background-size: 100% auto;

  background-position: center;

  background-repeat: no-repeat;

}
}

@media (min-width: 481px) { 
.bg {
position: absolute;
  

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  z-index: -1;

background-size: 100% auto;

  background-position: center;

  background-repeat: no-repeat;

}

.bg.bg {
position: absolute;
  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  z-index: 1;

 background-size: 100% auto;

  background-position: center;

  background-repeat: no-repeat;

}
  }
h1 {

  color: white;

  text-shadow: 1px 1px 3px black;

  z-index: 1;

  font-size: 3em;

  font-weight: 400;

}


h2 {

  color: white;

  text-shadow: 1px 1px 3px black;

text-align: center;

  z-index: 5;

  font-size: 3em;

  font-weight: 400;

}

h3 {

  color: white;

  text-shadow: 1px 1px 3px black;

  z-index: 5;

text-align: center;

  font-size: 3em;

  font-weight: 400;

}

h4 {

  color: blue;

  text-shadow: 1px 1px 3px black;

  z-index: 8;

text-align: center;

  font-size: 3em;

  font-weight: 400;

}

section {

  position: relative;

  height: 65%;

  display: flex;

  align-items: center;

  justify-content: center;

}
.section-a {

  position: relative;

  height: 50%;

  display: block;

  align-items: center;

  justify-content: center;

}

body {

position: relative;

color: white;

  font-family: Arial, Helvetica, sans-serif;
height: 50%;

margin: 0;

background-color: black;

  }

</style>

</head>

<body>
<h3>This is a Title</h3>
<img src="pic5.jpg" alt="pic" width="100%" height="auto">>
<section class="parallax">

  <div class="bg"></div>

</section>
<section-a>

  <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h2>

  <div class="bg.bg"></div>

</section-a>






<section class="parallax">

  <div class="bg"></div>



<h1>The Skyline</h1>


</section>

<section-a>

<div class="bg.bg"></div>

<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h2>

</section-a>

  <section class="parallax">

<div class="bg"></div>

<h4>Taco & BeeKing</h4>

</section>

<section-a>

<div class="bg.bg"></div>

<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h2>

</section-a>

<section class="parallax">



<video width="60%" height="auto" controls>

  <source src="movie.mp4" type="video/mp4">

  <source src="movie.ogg" type="video/ogg">

  Your browser does not support the video tag.

</video>

</section>

<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>

<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/ScrollTrigger.min.js"></script>

<script src="/script.js"></script>

</body>

</html>
